.vscode/**
.vscode-test/**

src/**
srctempagent/**
clickgraf/**
resources/telemetry/**

*.vsix
.DS_Store
**/.DS_Store
.env
.env.*
*.log
*.tsbuildinfo
coverage/**
.nyc_output/**

tsconfig.json
package-lock.json
**/*.map
dist/**/*.test.js
node_modules/**/test/**
node_modules/**/tests/**
